/* Main style sheet */
body{
   
    background: cornflowerblue;
    color:lightskyblue
}
header{
    padding: 10px ;
    line-height: 20px;
    height:100px;
    background: black;
}
.container{
   font-style: italic;
}
.answerEl{
    margin:10px;
    height:50px;
    background: gainsboro;
}
