/* Main style sheet */
body{
    background: cornflowerblue;
    color:lightskyblue
}
header{
    padding: 10px ;
    line-height: 20px;
    height:100px;
    background: black;
}
.container{
   font-style: italic;
}
.answerLi{
    list-style: none;
    color:darkorange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:10px;
    height:75px;
    background: gainsboro;
    padding-top: 10px;
}
.answerLi:hover{
    cursor: pointer;
    background:lightsteelblue;
    border-top: 1px solid grey;
}
.answerEl:active{
    box-shadow: deepskyblue;
}
